---
import { makeFileMap, postFilter } from "../../js/utils";
import Layout from "../../layouts/Layout.astro";

title: "Table of Contents";
const cd = "recipies";
const allPosts = await Astro.glob("./**/*.md").then((posts) => {
  return posts.map((post) => makeFileMap(post));
});
---

<Layout title="Recipies Table of Contents">
  <div class="description">
    <h1 class="text-gradient">Table of Contents</h1>
    This is where best practices and common patterns are documented. If you'd like
    to make a contribution feel free to make a pull request
    <br /><br />
    <a class="primary-btn" href="https://github.com/Morzaram/elixir_desk/pulls"
      >Add best practice</a
    >
    <div class="description">
      <h2>Ecto</h2>
      {
        allPosts
          .filter((p) => postFilter(p, "/ecto/", cd))
          .map((post) => {
            return (
              <li>
                <a href={post.postPath}>{post.postTitle}</a>
              </li>
            );
          })
      }
      <div class="description">
        <h3>Advanced</h3>
        {
          allPosts
            .filter((p) => postFilter(p, "/ecto/advanced/", cd))
            .map((post) => {
              return (
                <li>
                  <a href={post.postPath}>{post.postTitle}</a>
                </li>
              );
            })
        }
      </div>
    </div>
    <div class="description">
      <h2>Phoenix</h2>
      {
        allPosts
          .filter((p) => postFilter(p, "/phoenix/", cd))
          .map((post) => {
            return (
              <li class="">
                <a href={post.postPath}>{post.postTitle}</a>
              </li>
            );
          })
      }
    </div>
  </div>
</Layout>

<style>
  /* hover color */
  a:hover {
    background-color: #f5f5f5;
    color: #000;
  }
</style>
